# Environnement
.env
.env.local
# Node modules
node_modules/
# Build output
dist/
build/
# Logs
logs/
*.log
# IDEs
.vscode/
.idea/
# Système
.DS_Store
Thumbs.db
Backup/
BACKUP/
# Tests
coverage/
# Autres
